*.gmo
*.mo
*.in
*.pyc
.project
.pydevproject
Makefile
/m4
/.settings
/configure
/missing
/config.status
/libtool
/ltmain.sh
/mkinstalldirs
/py-compile
/INSTALL
/config.sub
/stamp-h1
/config.h
/aclocal.m4
/gnome-doc-utils.make
/config.guess
/install-sh
/autom4te.cache
/config.log
/debian/control
/data/mime-stuff/ar/tgcm-ar.desktop
/data/mime-stuff/co/tgcm-co.desktop
/data/mime-stuff/ec/tgcm-ec.desktop
/data/mime-stuff/pe/tgcm-pe.desktop
/data/mime-stuff/pa/tgcm-pa.desktop
/data/mime-stuff/de/tgcm-de.desktop
/data/mime-stuff/es/tgcm-es.desktop
/data/mime-stuff/cz/tgcm-cz.desktop
/data/mime-stuff/sv/tgcm-sv.desktop
/data/mime-stuff/cl/tgcm-cl.desktop
/data/mime-stuff/uy/tgcm-uy.desktop
/data/mime-stuff/ni/tgcm-ni.desktop
/data/mime-stuff/ve/tgcm-ve.desktop
/data/mime-stuff/gt/tgcm-gt.desktop
/data/mime-stuff/mx/tgcm-mx.desktop
/data/mime-stuff/uk/tgcm-uk.desktop
/data/mime-stuff/cr/tgcm-cr.desktop
/po/POTFILES
/po/stamp-it
/po/tgcm.pot
/src/tgcm.py
/src/common-libs
/src/tgcm/__init__.py
/src/tgcm/contrib/mobile-manager2/src/mobilemanager/__init__.py
/src/tgcm/contrib/mobile-manager2/data/dbus/org.freedesktop.ModemManager.service
/src/tgcm/contrib/mobile-manager2/data/policy/org.freedesktop.modem-manager.policy
/src/tgcm/core/Constants.py
/src/tgcm/ui/tgcm
77-mobile-manager.rules
data/2

# Ignore dot- and tmp-files
.*
*~

# Git files that we don't want to ignore even it they are dot-files
!.gitignore
!.mailmap
!77-mobile-manager.rules.in
!__init__py.in
