/* CSS Document general*/

/*formato general para el html */

 	body {
	padding-left: 14em;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	width:730px;
    font-size: 0.7em;
	color:#000000;
	background-color: white;

}

	/*Caja para el texto guia de usuario*/
	.logoManual{
	list-style-type:none
	padding: 0;
	margin: -1;
	position: absolute;
	top: 13px;
	left: 22px;
	width: 111px;
	height: 75px;
	background:#BABABA;
	/*margin: 0.2em 0;*/
	/*padding: 0.3em;*/
	border-right: 1.5em solid #00005A;
	}

	.logoManual2 {
	list-style-type:none
	padding: 0;
	margin: -1;
	position: absolute;
	top: 25px;
	left: 23px;
	width: 110px;
	height: 16px;
	background:#BABABA;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	color:#2E3F8D;
	font-size:20px;
	font-weight:bold;
	}

/* Caja de texto para la version PDF*/
.cajaPDF {
	
	list-style-type:none
	padding: 0;
	margin: 0;
	position: absolute;
	top: 581px;
	left: 21px;
	width: 72px;
	height: 25px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	background:#BABABA;
	color:#000080;
	font-size:0.8em;
	}

	.cajaPDF1{
	list-style-type:none
	padding: 0;
	margin: 0;
	position: absolute;
	top: 581px;
	left: 51px;
	width: 72px;
	height: 25px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	background:#BABABA;
	color:#000000;
	font-size:0.8em;
	border-right: 1.2em solid #00005A;
	}


/*Estilo del menu de la izquierda */
	ul.navbar {
	list-style-type: none;
	padding: 0;
	margin: 0;
	position: absolute;
	top: 100px;
	left: 22px;
	width: 111px;
	height: 288px;
}

/*Estilo del título*/	
	 h1 {
    font-family: Arial, Verdana, Helvetica, sans-serif;
	color: #2E3F8D;
	 }
	 
	 h2 {
font-family: Arial, Verdana, Helvetica, sans-serif;
	color: #2E3F8D;
	 }
	 
/*Esto es el estilo del menu, las caja y el color*/
	ul.navbar li {
	font-size:1em;
    background:#BABABA;
    margin: 0.2em 0;
    padding: 0.3em;
    border-right: 1em solid #000055 }

  ul.navbar a {
	text-decoration: none }

  a:link {
    color:#2E3F8D;
     }

  a:visited {
    color: #2E3F8D;
	 }

  a:hover {
	font-weight: bold;
}
	
/* esto es un ejemplo para el span */
	.especial {
	color: black;
	font-weight:bold;
    text-decoration: none;
	}
  	
/*formato para la cabecera*/
	.CabeceraMarcas	{
	width:100%;
	background-image:url(../img/cabecera_linux.png);
	background-position:right;
	background-position:top;
	background-repeat:no-repeat;
	height:77px;
	}
		
/*formato para el pie de pagina y mensajes corporativos*/
	.MsjCorp {
	text-align:center;
	background-color: #ffffff;
	color:#2E3F8D;
	margin-top: 1em;
	padding-top: 1,5em;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size:1,5em;
	}

/*formato para la caja de Importante */
	.Importante {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	border: 2px #333333 double;
	background-color:#BABABA;
	color:#000000;
	margin:5px 5px 10px 5px;
	padding:5px 5px 5px 5px;
	}
	
/*Formato para las figuras*/
	.figura {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-weight:bold;
	text-align:center;
	}

/*ejemplo de barra de navegación*/

	#navegacion {
	text-decoration:none;
	}
	
	#derecha {
	text-decoration:none;
	font-weight:bold;
	float: right;
	margin: auto;
	clear: none;	
	}
	
	#izquierda {
	text-decoration:none;
	font-weight:bold;
	float: left;
	}

	#div.clear {
	margin:10px;
	clear: both;	
	}
	
	


		
